---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Tentang">
  <Sectionhead>
    <Fragment slot="title">Tentang</Fragment>
    <Fragment slot="desc">Kenal kami lebih dekat lagi</Fragment>
  </Sectionhead>
  <Container class="bg-pattern-2 bg-cover bg-norepeat bg-center">
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-8 mb-8">
      <h2 class="font-bold text-3xl text-gray-800">
        Apa itu AccounTax?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        AccounTax merupakan platform penyusunan laporan keuangan untuk Usaha Mikro, Kecil, dan Menengah (UMKM) yang di dalamnya terdapat kalkulator penghitungan Pajak Penghasilan (PPh). 
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Sobat UMKM dapat mencatat transaksi penjualan, pembelian, penerimaan kas, dan pengeluaran kas dengan rapi. AccounTax dirancang berdasarkan Standar Akuntansi Keuangan Entitas Mikro, Kecil, dan Menengah (SAK EMKM). Dengan menggunakan aplikasi ini, Sobat UMKM dapat menyusun Laporan Laba Rugi dan Laporan Posisi Keuangan sesuai dengan standar yang berlaku. Selain itu, Sobat UMKM juga dapat menghitung PPh terutangnya menggunakan kalkulator pajak, setelah menyusun laporan keuangan.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-8 mb-8">
      <h2 class="font-bold text-3xl text-gray-800">
        Kegiatan Kami
      </h2>
      <h3 class="font-semibold text-xl text-gray-800">
        Edukasi UMKM
      </h3>
      <p class="text-lg leading-relaxed text-slate-500">
        Pada kegiatan sosialisasi bertujuan untuk memberikan pemahaman yang mendalam kepada peserta tentang bagaimana aplikasi Accountax dapat membantu dalam mengotomatisasi proses akuntansi dan pelaporan keuangan. Kami berusaha menjelaskan secara rinci tentang fitur-fitur kunci aplikasi, seperti pengelolaan transaksi, pencatatan pembayaran, pembuatan laporan keuangan, dan pelacakan pengeluaran
      </p>
      <div class="grid grid-cols-1 gap-4 items-center justify-center">
        <Picture
        class="mx-auto"
        src="/album/sosialisasi-01.jpg"
        alt="Google Play"
        widths={[200, 400, 600]}
        sizes="(max-width: 200px) 100vw, 480px"
        loading="lazy"
        format="avif"
        aspectRatio="16:9"
        />
      </div>
      <p class="text-lg leading-relaxed text-slate-500">
        Selama acara sosialisasi, kami juga menyediakan sesi tanya jawab interaktif untuk memastikan peserta memahami dengan baik setiap aspek aplikasi Accountax. Para peserta diberi kesempatan untuk mengajukan pertanyaan, berbagi pengalaman, dan mendiskusikan tantangan yang mereka hadapi dalam mengelola keuangan perusahaan mereka.
      </p>
      <div class="grid grid-cols-1 gap-4 items-center justify-center">
        <Picture
        class="mx-auto"
        src="/album/sosialisasi-02.jpg"
        alt="Google Play"
        widths={[200, 400, 600]}
        sizes="(max-width: 200px) 100vw, 480px"
        loading="lazy"
        format="avif"
        aspectRatio="16:9"
        />
      </div>
      <p class="text-lg leading-relaxed text-slate-500">
        Selain itu, kami juga menyajikan contoh kasus dan studi kasus nyata untuk memberikan gambaran praktis tentang penggunaan aplikasi Accountax dalam situasi bisnis yang berbeda. Kami berharap dengan menyajikan contoh-contoh ini, peserta dapat melihat secara langsung bagaimana aplikasi ini dapat diterapkan dalam skenario keuangan mereka sendiri.
      </p>
      <div class="grid grid-cols-1 gap-4 items-center justify-center">
        <Picture
        class="mx-auto"
        src="/album/sosialisasi-03.jpg"
        alt="Google Play"
        widths={[200, 400, 600]}
        sizes="(max-width: 200px) 100vw, 480px"
        loading="lazy"
        format="avif"
        aspectRatio="16:9"
        />
      </div>
      <p class="text-lg leading-relaxed text-slate-500">
        Kami juga memberikan panduan praktis tentang penggunaan aplikasi Accountax, termasuk langkah-langkah instalasi, pengaturan awal, dan pemecahan masalah umum yang mungkin dihadapi oleh pengguna. Kami ingin memastikan bahwa setiap peserta merasa percaya diri dalam menggunakan aplikasi ini setelah acara sosialisasi.
      </p>
      <h3 class="font-semibold mt-2 text-xl text-gray-800">
        AccounTax <span class="italic">Goes to Campus</span>
      </h3>
      <Picture
      class="mx-auto"
      src="/album/sosialisasi-04.webp"
      alt="AccounTax Goes To Campus"
      widths={[200, 400, 600]}
      sizes="(max-width: 200px) 100vw, 480px"
      loading="lazy"
      format="avif"
      aspectRatio="16:9"
      />
      <p class="text-lg leading-relaxed text-slate-500">
        Pada tanggal 4 Juli 2023, diadakan acara penting yang bertujuan untuk memberikan pemahaman dan pelatihan kepada mahasiswa dalam menyusun laporan keuangan menggunakan aplikasi AccounTax. Acara yang diberi judul "Sosialisasi dan Pelatihan Penyusunan Laporan Keuangan Mahasiswa Menggunakan Aplikasi AccounTax" ini diselenggarakan oleh StartUp AccounTax.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Acara "Sosialisasi dan Pelatihan Penyusunan Laporan Keuangan Mahasiswa Menggunakan Aplikasi AccounTax" berlangsung dengan semangat yang antusias dari para peserta. Kehadiran mereka menunjukkan keseriusan dalam meningkatkan kualitas pengelolaan keuangan organisasi mahasiswa. Diharapkan bahwa pelatihan ini akan membawa dampak positif bagi seluruh lingkungan kampus, meningkatkan transparansi dan akuntabilitas dalam pengelolaan keuangan.
      </p>
    </div>
  </Container>
</Layout>
