---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Dasar Penghitungan PPh Terutang",
    description:
      "Laporan keuangan UMKM disusun sesuai dengan SAK EMKM",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Persyaratan Pengajuan Pinjaman ke Bank",
    description:
      "Pelaku UMKM dapat mengetahui PPh terutang atas usahanya menggunakan kalkulator pajak",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Evaluasi dan Monitor Kegiatan Usaha",
    description:
      "Pelaku UMKM dapat melakukan pencatatan penjualan dan biaya operasional dengan mudah dan cepat.",
    icon: "bx:bxs-data",
  }
];
---

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Manfaat Penyusunan Laporan Keuangan
  </h2>
  <!-- <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p> -->
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-3 mt-16 gap-8">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h2 class="font-semibold text-xl">{item.title}</h2>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
