---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Sesuai dengan SAK EMKM",
    description:
      "Laporan keuangan UMKM disusun sesuai dengan SAK EMKM",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Kalkulator Pajak",
    description:
      "Pelaku UMKM dapat mengetahui PPh terutang atas usahanya menggunakan kalkulator pajak",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Mudah dan Cepat",
    description:
      "Pelaku UMKM dapat melakukan pencatatan penjualan dan biaya operasional dengan mudah dan cepat.",
    icon: "bx:bxs-data",
  },
  {
    title: "Di mana pun dan Kapan pun",
    description:
      "Pelaku UMKM dapat menyusun laporan keuangan di mana pun dan kapan pun dengan menggunakan handphone.",
    icon: "bx:bxs-bot",
  }
];
---

<div class="mt-8 mb-8">
  <h2 class="text-4xl lg:text-5xl text-center font-bold lg:tracking-tight">
    Keunggulan Aplikasi
  </h2>
  <!-- <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p> -->
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-8 mb-16 gap-8">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h2 class="font-semibold text-3xl">{item.title}</h2>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
