---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/logo.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid grid-reverse lg:grid-cols-2 place-items-center pt-4 pb-8">
  <div class="order-2">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      AccounTax
    </h1>
    <p class="text-2xl mt-4 text-slate-600 max-w-xl">
      AccounTax merupakan platform penyusunan laporan keuangan untuk Usaha Mikro, Kecil, dan Menengah (UMKM) yang di dalamnya terdapat kalkulator penghitungan Pajak Penghasilan (PPh). 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://play.google.com/store/apps/details?id=io.kodular.cahprdj2.accountax_new"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Dapatkan di Google Play Store
      </Link>
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link> -->
    </div>
  </div>
  <div class="py-6 order-1 md:order-1 md:block">
    <Picture
      src={heroImage}
      alt="AccounTax"
      widths={[200, 400, 600]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 540px"
      loading="eager"
      format="avif"
    />
  </div>
</main>
