---
// @ts-ignore
import { Icon } from "astro-icon";

const tutorial = [
  {
    title: "Sesuai dengan SAK EMKM",
    description:
      "Laporan keuangan UMKM disusun sesuai dengan SAK EMKM",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Kalkulator Pajak",
    description:
      "Pelaku UMKM dapat mengetahui PPh terutang atas usahanya menggunakan kalkulator pajak",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Mudah dan Cepat",
    description:
      "Pelaku UMKM dapat melakukan pencatatan penjualan dan biaya operasional dengan mudah dan cepat.",
    icon: "bx:bxs-data",
  },
  {
    title: "Di mana pun dan Kapan pun",
    description:
      "Pelaku UMKM dapat menyusun laporan keuangan di mana pun dan kapan pun dengan menggunakan handphone.",
    icon: "bx:bxs-bot",
  }
];
---

<div class="mt-8">
  <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight">
    Mengunduh Aplikasi
  </h2>
</div>

<div class="grid grid-cols-1 mt-8 gap-8 mx-8">
  <ol class="list-decimal text-base lg:text-xl">
    <li>Buka Google Play Store: Pastikan perangkat Android Anda terhubung ke internet, lalu buka Google Play Store. Aplikasi ini biasanya sudah terpasang di perangkat Android secara default.</li>
    <li>Cari aplikasi AccounTax: Pada halaman utama Google Play Store, Anda akan melihat kotak pencarian di bagian atas. Ketik "AccounTax" di kotak pencarian dan tekan tombol "Cari" atau ikon kaca pembesar pada keyboard.</li>
    <li>Pilih aplikasi AccounTax: Setelah Anda melakukan pencarian, Google Play Store akan menampilkan beberapa hasil. Cari aplikasi AccounTax yang tepat dan pastikan itu adalah aplikasi yang diinginkan. Anda dapat melihat ikon aplikasi, nama pengembang, peringkat ulasan, dan deskripsi singkat.</li>
    <li>Baca deskripsi dan ulasan: Sebelum mengunduh aplikasi, sangat penting untuk membaca deskripsi aplikasi dan ulasan pengguna. Deskripsi akan memberikan informasi tentang fitur-fitur utama aplikasi dan apa yang dapat Anda harapkan setelah mengunduhnya. Ulasan pengguna akan memberikan wawasan tentang pengalaman pengguna lain dengan aplikasi tersebut.</li>
    <li>Ketuk tombol "Instal": Jika Anda yakin ingin mengunduh aplikasi AccounTax, ketuk tombol "Instal" yang biasanya terletak di bawah ikon aplikasi dan deskripsi. Tombol ini akan berubah menjadi "Instal" atau menunjukkan harga jika aplikasi berbayar.</li>
    <li>Izinkan akses yang diperlukan: Setelah Anda mengetuk tombol "Instal", Google Play Store akan meminta akses ke beberapa fungsi atau informasi pada perangkat Anda. Ini termasuk izin seperti akses ke jaringan, lokasi, kontak, dll. Baca dengan seksama izin-izin ini dan ketuk "Terima" atau "Izinkan" jika Anda setuju.</li>
    <li>Tunggu proses unduhan: Setelah Anda menyetujui izin-izin yang diminta, Google Play Store akan mulai mengunduh aplikasi AccounTax ke perangkat Anda. Tunggu sampai proses unduhan selesai. Lamanya waktu ini akan bervariasi tergantung pada ukuran aplikasi dan kecepatan koneksi internet Anda.</li>
    <li>Buka aplikasi AccounTax: Setelah unduhan selesai, Anda akan melihat tombol "Buka" di tempat tombol "Instal". Ketuk tombol "Buka" untuk menjalankan aplikasi AccounTax. Jika Anda ingin membuka aplikasi di lain waktu, Anda dapat menemukannya di layar beranda atau melalui menu aplikasi di perangkat Anda.</li>
    <!-- ... -->
  </ol>
</div>

<div class="mt-8">
  <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight">
    Mengunduh Aplikasi
  </h2>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-8 gap-8">
  {
    tutorial.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h2 class="font-semibold text-xl">{item.title}</h2>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
